.container {
	text-align: center;
}

table {
	margin: 0 auto;
}

td {
	text-align: center;
}

button {
	height: 100px;
	width: 100px;
	border: 1px solid #ccc;
}

footer {
	margin-top: 20px;
}

.selected {
	color: #fff;
	font-weight: bold;
}

.x-mark {
	background-color: #286090;
}

.o-mark{
	background-color: #EC971F;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#reload {
	height: auto;
	width: auto;
	margin-top: 10px;
}
